body{
    background-color: rgb(130, 160, 130);
    padding-left: 30px;
}
h1{
    color:darkblue;
}
p{
    font-weight: 700;
    color: orange;
}
div.card{
    background-color: rgb(231, 231, 168);
    border: 4px solid black;
}

h2{
    color: rgb(230, 215, 215);
}

.errorlist{
    color: red;
    font-size: 22px;
}